# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
*.out
*.rpt
*.dbf
theta.out
theta.rpt
theta/Orifices.dbf
theta/Orifices.dbf
*.out
*.rpt
*.dbf
*.dbf
*.dbf
_summaries/summary-20210429-074318/events.out.tfevents.1619696598.PC.5344.22525.v2
__pycache__/dl_utils.cpython-38.pyc
__pycache__/dl_utils.cpython-38.pyc
*.pyc
_model/agent-0.index
_model/agent-0.data-00000-of-00001
*.data-00000-of-00001
*.index
_model/checkpoint
*.npz
model/_archive/checkpoint
*.data-00000-of-00001
model/agent-0.data-00000-of-00001
__pycache__/dl_utils.cpython-38.pyc
*.v2
